#data-table {
  margin: auto;
}
#data-table {
  border-collapse: collapse;
  width: 80%; 
  margin: auto;
}

#data-table th, #data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
#data-table th{
  background: rgb(126, 14, 170);
  color: white;
  position: sticky;
  top:0
}